@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Quicksand&display=swap');

/* ----------------- Base -----------------*/
:root {
    --color-one: #000000;
    --color-two: #FFFFFF;
    --color-three: #540D6F;
    --color-four: #FDD656;
}

* {
    font-family: 'Quicksand', sans-serif;
}

body {
  background: var(--color-three);
}
