.tasks-section {
    flex: 1;
    min-width: 250px;
}

.tasks-movies {
    background: var(--color-two);
    color: var(--color-one);
    border-radius: 5px;
    padding: 5px;
}

.tasks-section__title {
    font-size: 28px;
    text-align: center;
    color: var(--color-one);
    background: var(--color-four);
    font-weight: 700;
    padding: 8px 0;
    margin: 0;
    border-radius: 5px;
}

.tasks-section__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 10px;
}

.tasks-section__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tasks-section__item__label {
    flex: 1;
    display: flex;
}

.tasks-section__item__checkbox {
    all: unset;
    margin-right: 6px;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-one);
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.tasks-section__item__checkbox:checked {
    background-color: var(--color-one);
}
  

.tasks-section__item__checkbox:checked::before {
    content: '';
    display: block;
    width: 2px;
    height: 12px;
    background: var(--color-two);
    top: 2px;
    left: 8px;
    position: absolute;
    transform: rotate(45deg);
}
  
.tasks-section__item__checkbox:checked::after {
    content: '';
    display: block;
    width: 2px;
    height: 4px;
    background: var(--color-two);
    top: 8px;
    left: 3px;
    position: absolute;
    transform: rotate(-45deg);
}

.tasks-section__item__text {
    flex: 1;
    cursor: pointer;
}

.tasks-section__item__checkbox:checked + .tasks-section__item__text {
    text-decoration: line-through;
}

.tasks-section__item__remove {
    cursor: pointer;
    background: none;
    border: none;
}